@font-face {
  font-family: "Volkhov";
  src: url("/src/assets/fonts/Volkhov-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Volkhov-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Volkhov";
  src: url("/src/assets/fonts/Volkhov-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/Volkhov-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/src/assets/fonts/Volkhov-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/Volkhov-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
